{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
				<div class="item">
					<tr>
						<td><i class="fas fa-music"></i> </td>
						<td><h5><a href="/venues/{{ venue.id }}"></a> {{ venue.name }}</h5></td>
						<td><button class="delete-button" data-id="{{ venue.id }}">&cross;</button></td>
					</tr>
				</div>
			</a>				
		</li>
		
		{% endfor %}
	</ul>
{% endfor %}
<script>

	function DeleteButtonClicked(button) {
	  button.onclick = event => {
		console.log('delete button click event', event);
		console.log('delete button id', event.target.dataset.id);
		const venueId = event.target.dataset.id;
		fetch('/venues/' + venueId, {
		  method: 'DELETE',
		})
		.then(() => window.location = '/')
	  }
	}
	const delete_buttons = document.querySelectorAll('.delete-button');
	delete_buttons.forEach(DeleteButtonClicked)

	// <script>
    // // edit venue / artist
    // const editButton = document.querySelector('.edit-button');
    
    // editButton.onclick = function(e) {
    //     const endpoint = e.target.value;
    //     const editItemId = e.target.dataset['id'];
    //     location.href = '/' + endpoint + '/' + editItemId + '/edit'
    //   }
  </script>
  </script>
{% endblock %}
